<!DOCTYPE html>
<html>
<head>
    <title>Search Artist</title>

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/demo.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/myspotify2.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/style.css")">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/amaran.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/animate.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/basic.css")">


    <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.0/mustache.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/typeahead.bundle.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.amaran.min.js")'></script>

    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.simplemodal.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/basic.js")'></script>

    <!-- ****************************** MUSTACHE TEMPLATE START ****************************** -->
    <script id="artistTemplate" type="text/template">
        <div style="width: 1350px">
            <!-- Example row of columns -->
            <div class="imageDiv">
                <div style="width: {{width}};display: inline-block;position: relative;left: 0;vertical-align:top;margin-right: 50px">
                    <img height="{{height}}" width="{{width}}" src="{{url}}">
                </div>
                <div class="trackDiv">
                    <h2>Top tracks</h2>
                    <div class="borderStyle">&nbsp;</div>
                    <div id="list2">
                        <ol>
                            {{#tracks}}
                                <li><p><em><a href="{{spotifyurl}}" target="_blank">{{track}}</a></em></p></li>
                            {{/tracks}}
                        </ol>
                    </div>
                </div>
                <div class="albumDiv">
                    <h2>Albums</h2>
                    <div class="borderStyle">&nbsp;</div>
                    <div id="list2">
                        <ol>
                            {{#albums}}
                            <li><p><em>{{album}}</em></p></li>
                            {{/albums}}
                        </ol>
                    </div>
                </div>
                <div class="artistDiv">
                    <h2>Related artists</h2>
                    <div class="borderStyle">&nbsp;</div>
                    <div id="list2">
                        <ol>
                            {{#relatedartists}}
                            <li><p><em><a onclick="javascript:populateArtistData('{{id}}', '{{artist}}')" href="#">{{artist}}</a></em></p></li>
                            {{/relatedartists}}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- ****************************** MUSTACHE TEMPLATE END ****************************** -->
</head>
<body>
    <div id="wrapper">
        <div style="margin: 0 auto; padding-left: 20px; padding-top: 20px;">
            <input placeholder="search artist here.." id="typeAheadArtist" class="typeahead"></input>
            <div id="artistWrapper"></div>
        </div>
    </div>

    <script type="text/javascript">
    // get websocket class, firefox has a different way to get it
    var WS = window['MozWebSocket'] ? window['MozWebSocket'] : WebSocket;

    // open pewpew with websocket
    var socket = new WS('@routes.Application.wsInterface().webSocketURL(request)');

    var writeMessages = function(event){
    console.log( "test: " + $('#typeAheadArtist').val() );
    console.log( "event.data: " + event.data );

       if(event.data != $('#typeAheadArtist').val()){
       $.amaran({
            content:{
                bgcolor:'#8e44ad',
                color:'#fff',
                message:'Någon annan söker just nu på: ' + event.data
            },
                theme:'colorful',
                position:'bottom left',
                closeButton:true,
                cssanimationIn: 'rubberBand',
                cssanimationOut: 'bounceOutUp'

            });
       }
    }

    socket.onmessage = writeMessages;

   var artists = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: 'searchArtists?query=%QUERY'
    });

    artists.initialize();

    $('.typeahead').typeahead(
        null, {
        name: 'artists',
        displayKey: 'name',
        source: artists.ttAdapter()
    }).on('typeahead:selected', function(event, data){
        console.log(data.id);
        populateArtistData(data.id, data.name)
    });

    function populateArtistData(id, artist){
      $.getJSON( "artistInfo?artistId="+id, function(data) {
         var template = $('#artistTemplate').html();
         var html = Mustache.to_html(template, data);
         $('#artistWrapper').html(html);
         $('#typeAheadArtist').val(artist);
         socket.send(artist);
        }).done(function() {
            console.log( "second success" );
        }).fail(function() {
            console.log( "error" );
        }).always(function() {
            console.log( "complete" );
        });
    }

</script>

        <!-- modal content -->
        <div id="basic-modal-content">
            <h3>About</h3>
            <p>This application is using <a href="https://developer.spotify.com/web-api/">Spotify Web Api</a>, <a target="_blank" href="https://playframework.com/">Play 2.3</a>, <a target="_blank" href="http://www.oracle.com/technetwork/java/index.html">Java 8</a>, <a target="_blank" href="https://twitter.github.io/typeahead.js/">Twitter typeahead</a>, <a target="_blank" href="https://www.heroku.com/">Heroku</a>, <a target="_blank" href="http://www.datatables.net/">Datatables</a> och <a target="_blank"href="http://www.html5rocks.com/en/tutorials/websockets/basics/">websockets</a>.
              <br><br>
               <p>More to come...</p>

        </div>

        <!-- preload the images -->
        <div style='display:none'>
            <img src='@routes.Assets.at("images/x.png")' alt='' />
        </div>

    <div id='basic-modal' style="position: fixed; right: 470px; top: 25px; padding: 8px; border: 1px solid #999999; font-style: italic;"><a href="myplaylist">Playlists</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" class="basic">About</a></div>
    <div style="border: 0px; position: fixed; right: 120px; top: 20px;">
        <img style="padding-right: 10px;" src='@routes.Assets.at("images/heroku.jpg")'>
        <img style="padding-right: 10px;" src='@routes.Assets.at("images/spotify.png")'>
        <img style="padding-right: 10px;" src='@routes.Assets.at("images/play.png")'>
        <img style="padding-right: 10px;" src='@routes.Assets.at("images/twitter.png")'>
    </div>
    <a href="http://www.reactivemanifesto.org/">
        <img style="border: 0px; position: fixed; right: 0px; top: 0px; z-index: 9000;" src="http://d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-black-right.png"/>
    </a>
</body>
</html>