<!DOCTYPE html>
<html>
<head>
    <title>Search Artist</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/myspotify2.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/style.css")">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.0/mustache.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/typeahead.js/dist/typeahead.bundle.js")'></script>

    <script id="artistTemplate" type="text/template">
        <br>

        <div id="container">
            <div id="left">
                <img height="{{height}}" width="{{width}}" src="{{url}}">
            </div>
            <div id="right">
                <h2>Related artists</h2><br>
                <div id="list2">
                    <ol>
                        {{#relatedartists}}
                        <li><p>{{artist}}</p></li>
                        {{/relatedartists}}
                    </ol>
                </div>
            </div>
            <div id="center">
                <h2>Top tracks</h2><br>
                <div id="list2">
                    <ol>
                        {{#tracks}}
                        <li><p>{{track}}</p></li>
                        {{/tracks}}
                    </ol>
                </div>
            </div>
        </div>
    </script>
    <style type="text/css">
        #container{width:100%;}
        #left{float:left;}
        #right{float:right;width:300px;}
        #center{margin:20 auto;width:300px;}

    </style>
</head>
<body>
    <div id="wrapper">
        <input id="typeAheadArtist" class="typeahead"></input>
        <div id="artistWrapper"></div>
    </div>


    <script type="text/javascript">
   var artists = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: 'searchArtists?query=%QUERY'
    });

    artists.initialize();

    $('.typeahead').typeahead(
        null, {
        name: 'artists',
        displayKey: 'name',
        source: artists.ttAdapter()
    }).on('typeahead:selected', function(event, data){
        console.log(data.id);
        $.getJSON( "artistInfo?artistId="+data.id, function(data) {
            var template = $('#artistTemplate').html();
            var html = Mustache.to_html(template, data);

            $('#artistWrapper').html(html);
        }).done(function() {
            console.log( "second success" );
        }).fail(function() {
            console.log( "error" );
        }).always(function() {
            console.log( "complete" );
        });
    });
</script>
</body>
</html>
